<a href="https://colab.research.google.com/github/j88k77/Hunar-Intern/blob/main/Task_2_HUNAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [68]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn import metrics
from sklearn.preprocessing import PolynomialFeatures

In [2]:
#loading the data from csv file to pandas dataframe
house_dataset= pd.read_csv('/content/house price data.csv')

In [3]:
#checking first 5 rows
house_dataset.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,18810 Densmore Ave N,Shoreline,WA 98133,USA
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,709 W Blaine St,Seattle,WA 98119,USA
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,26206-26214 143rd Ave SE,Kent,WA 98042,USA
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,857 170th Pl NE,Bellevue,WA 98008,USA
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,9105 170th Ave NE,Redmond,WA 98052,USA

In [4]:
#checking the no.of rows and columns(datapoints)
house_dataset.shape

(4600, 18)

In [5]:
#getting some info about dataset
house_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4600 entries, 0 to 4599
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           4600 non-null   object
 1   price          4600 non-null   float64
 2   bedrooms       4600 non-null   float64
 3   bathrooms      4600 non-null   float64
 4   sqft_living    4600 non-null   int64
 5   sqft_lot       4600 non-null   int64
 6   floors         4600 non-null   float64
 7   waterfront     4600 non-null   int64
 8   view           4600 non-null   int64
 9   condition      4600 non-null   int64
 10  sqft_above     4600 non-null   int64
 11  sqft_basement  4600 non-null   int64
 12  yr_built       4600 non-null   int64
 13  yr_renovated   4600 non-null   int64
 14  street         4600 non-null   object
 15  city           4600 non-null   object
 16  statezip       4600 non-null   object
 17  country        4600 non-null   object
dtypes: float64(4), int64(9), object(5)
memory usage: 647.0+ KB

In [6]:
#checking for missing values
house_dataset.isnull().sum()

date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
street           0
city             0
statezip         0
country          0
dtype: int64

In [8]:
#checking the distribution for categorical data
print(house_dataset.street.value_counts())
print(house_dataset.city.value_counts())
print(house_dataset.statezip.value_counts())
print(house_dataset.country.value_counts())

street
2520 Mulberry Walk NE     4
2500 Mulberry Walk NE     3
9413 34th Ave SW          2
6008 8th Ave NE           2
11034 NE 26th Pl          2
                         ..
1404 Broadmoor Dr E       1
3249 E Ames Lake Dr NE    1
6032 35th Ave NE          1
1006 NE Ravenna Blvd      1
18717 SE 258th St         1
Name: count, Length: 4525, dtype: int64
city
Seattle                1573
Renton                  293
Bellevue                286
Redmond                 235
Issaquah                187
Kirkland                187
Kent                    185
Auburn                  176
Sammamish               175
Federal Way             148
Shoreline               123
Woodinville             115
Maple Valley             96
Mercer Island            86
Burien                   74
Snoqualmie               71
Kenmore                  66
Des Moines               58
North Bend               50
Covington                43
Duvall                   42
Lake Forest Park         36
Bothell                  33
Newcastle                33
SeaTac                   29
Tukwila                  29
Vashon                   29
Enumclaw                 28
Carnation                22
Normandy Park            18
Clyde Hill               11
Medina                   11
Fall City                11
Black Diamond             9
Ravensdale                7
Pacific                   6
Algona                    5
Yarrow Point              4
Skykomish                 3
Preston                   2
Milton                    2
Inglewood-Finn Hill       1
Snoqualmie Pass           1
Beaux Arts Village        1
Name: count, dtype: int64
statezip
WA 98103    148
WA 98052    135
WA 98117    132
WA 98115    130
WA 98006    110
           ...
WA 98047      6
WA 98288      3
WA 98050      2
WA 98354      2
WA 98068      1
Name: count, Length: 77, dtype: int64
country
USA    4600
Name: count, dtype: int64

In [10]:
unique_street = house_dataset['street'].unique()
unique_city = house_dataset['city'].unique()
unique_statezip = house_dataset['statezip'].unique()
unique_country = house_dataset['country'].unique()

unique_street, unique_city, unique_statezip, unique_country

(array(['18810 Densmore Ave N', '709 W Blaine St',
        '26206-26214 143rd Ave SE', ..., '759 Ilwaco Pl NE',
        '5148 S Creston St', '18717 SE 258th St'], dtype=object),
 array(['Shoreline', 'Seattle', 'Kent', 'Bellevue', 'Redmond',
        'Maple Valley', 'North Bend', 'Lake Forest Park', 'Sammamish',
        'Auburn', 'Des Moines', 'Bothell', 'Federal Way', 'Kirkland',
        'Issaquah', 'Woodinville', 'Normandy Park', 'Fall City', 'Renton',
        'Carnation', 'Snoqualmie', 'Duvall', 'Burien', 'Covington',
        'Inglewood-Finn Hill', 'Kenmore', 'Newcastle', 'Mercer Island',
        'Black Diamond', 'Ravensdale', 'Clyde Hill', 'Algona', 'Skykomish',
        'Tukwila', 'Vashon', 'Yarrow Point', 'SeaTac', 'Medina',
        'Enumclaw', 'Snoqualmie Pass', 'Pacific', 'Beaux Arts Village',
        'Preston', 'Milton'], dtype=object),
 array(['WA 98133', 'WA 98119', 'WA 98042', 'WA 98008', 'WA 98052',
        'WA 98115', 'WA 98038', 'WA 98045', 'WA 98155', 'WA 98105',
        'WA 98074', 'WA 98106', 'WA 98007', 'WA 98092', 'WA 98198',
        'WA 98006', 'WA 98102', 'WA 98011', 'WA 98125', 'WA 98003',
        'WA 98136', 'WA 98033', 'WA 98029', 'WA 98117', 'WA 98034',
        'WA 98072', 'WA 98023', 'WA 98107', 'WA 98166', 'WA 98116',
        'WA 98024', 'WA 98055', 'WA 98077', 'WA 98027', 'WA 98059',
        'WA 98075', 'WA 98014', 'WA 98065', 'WA 98199', 'WA 98053',
        'WA 98058', 'WA 98122', 'WA 98103', 'WA 98112', 'WA 98005',
        'WA 98118', 'WA 98177', 'WA 98004', 'WA 98019', 'WA 98144',
        'WA 98168', 'WA 98001', 'WA 98056', 'WA 98146', 'WA 98028',
        'WA 98148', 'WA 98057', 'WA 98040', 'WA 98010', 'WA 98051',
        'WA 98031', 'WA 98109', 'WA 98030', 'WA 98126', 'WA 98032',
        'WA 98178', 'WA 98288', 'WA 98108', 'WA 98070', 'WA 98188',
        'WA 98002', 'WA 98039', 'WA 98022', 'WA 98068', 'WA 98047',
        'WA 98050', 'WA 98354'], dtype=object),
 array(['USA'], dtype=object))

In [51]:
# Encoding for 'street'
street_mapping = {street: idx for idx, street in enumerate(unique_street)}

# Encoding for 'city'
city_mapping = {city: idx for idx, city in enumerate(unique_city)}

# Encoding for 'statezip'
statezip_mapping = {statezip: idx for idx, statezip in enumerate(unique_statezip)}

# Encoding for 'country' (only one unique value)
country_mapping = {'USA': 0}

# Replace the values in the dataset
house_dataset.replace({'street': street_mapping,
                       'city': city_mapping,
                       'statezip': statezip_mapping,
                       'country': country_mapping}, inplace=True)

# Display the first few rows of the encoded dataset to confirm the changes
house_dataset.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,sqft_above,sqft_basement,yr_built,yr_renovated,street,city,statezip,country
0,2014-05-02 00:00:00,313000.0,3.0,1.50,1340,7912,1.5,0,0,3,1340,0,1955,2005,0,0,0,0
1,2014-05-02 00:00:00,2384000.0,5.0,2.50,3650,9050,2.0,0,4,5,3370,280,1921,0,1,1,1,0
2,2014-05-02 00:00:00,342000.0,3.0,2.00,1930,11947,1.0,0,0,4,1930,0,1966,0,2,2,2,0
3,2014-05-02 00:00:00,420000.0,3.0,2.25,2000,8030,1.0,0,0,4,1000,1000,1963,0,3,3,3,0
4,2014-05-02 00:00:00,550000.0,4.0,2.50,1940,10500,1.0,0,0,4,1140,800,1976,1992,4,4,4,0

In [52]:

# Splitting the dataset into features and target variable
X = house_dataset.drop(['date', 'price'], axis=1)
Y = house_dataset['price']

# Splitting the data into training and testing sets
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.2,random_state=42)

# Display the shapes of the training and test sets
print(X_train.shape, X_test.shape, Y_train.shape, Y_test.shape)

(3680, 16) (920, 16) (3680,) (920,)

In [69]:
poly = PolynomialFeatures(degree=2)
X_poly = poly.fit_transform(X)

In [79]:
print(X)

      bedrooms  bathrooms  sqft_living  sqft_lot  floors  waterfront  view  \
0          3.0       1.50         1340      7912     1.5           0     0
1          5.0       2.50         3650      9050     2.0           0     4
2          3.0       2.00         1930     11947     1.0           0     0
3          3.0       2.25         2000      8030     1.0           0     0
4          4.0       2.50         1940     10500     1.0           0     0
...        ...        ...          ...       ...     ...         ...   ...
4595       3.0       1.75         1510      6360     1.0           0     0
4596       3.0       2.50         1460      7573     2.0           0     0
4597       3.0       2.50         3010      7014     2.0           0     0
4598       4.0       2.00         2090      6630     1.0           0     0
4599       3.0       2.50         1490      8102     2.0           0     0

      condition  sqft_above  sqft_basement  yr_built  yr_renovated  street  \
0             3        1340              0      1955          2005       0
1             5        3370            280      1921             0       1
2             4        1930              0      1966             0       2
3             4        1000           1000      1963             0       3
4             4        1140            800      1976          1992       4
...         ...         ...            ...       ...           ...     ...
4595          4        1510              0      1954          1979    4520
4596          3        1460              0      1983          2009    4521
4597          3        3010              0      2009             0    4522
4598          3        1070           1020      1974             0    4523
4599          4        1490              0      1990             0    4524

      city  statezip  country
0        0         0        0
1        1         1        0
2        2         2        0
3        3         3        0
4        4         4        0
...    ...       ...      ...
4595     1         0        0
4596     3        12        0
4597    18        34        0
4598     1        65        0
4599    23         2        0

[4600 rows x 16 columns]

In [80]:
print(Y)

0       3.130000e+05
1       2.384000e+06
2       3.420000e+05
3       4.200000e+05
4       5.500000e+05
            ...
4595    3.081667e+05
4596    5.343333e+05
4597    4.169042e+05
4598    2.034000e+05
4599    2.206000e+05
Name: price, Length: 4600, dtype: float64

Model training

In [81]:
#loading the linear regression model
lin_reg_model= LinearRegression()

In [82]:
lin_reg_model.fit(X_train,Y_train)

LinearRegression()

In [83]:
#prediction on training data
training_data_prediction=lin_reg_model.predict(X_train)

In [84]:
# R squared Error
error_score = metrics.r2_score(Y_train,training_data_prediction)
print('R squared Error',error_score)

R squared Error 0.6760050813550351

In [85]:
#prediction on test data
test_data_prediction=lin_reg_model.predict(X_test)

In [86]:
# R squared Error
error_score_test= metrics.r2_score(Y_test,test_data_prediction)
print('R squared Error',error_score_test)

R squared Error 0.03663620620551078

Lasso Regression Model

In [87]:
#loading the lasso regression model
lass_reg_model= Lasso()

In [88]:
lass_reg_model.fit(X_train,Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_coordinate_descent.py:631: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.586e+13, tolerance: 5.229e+10
  model = cd_fast.enet_coordinate_descent(

Lasso()

In [89]:
#prediction on training data
training_data_prediction_las=lass_reg_model.predict(X_train)

In [90]:
# R squared Error
error_score_training = metrics.r2_score(Y_train,training_data_prediction_las)
print('R squared Error',error_score_training)

R squared Error 0.6716181369745

In [91]:
#prediction on test data
test_data_prediction_las=lass_reg_model.predict(X_test)

In [92]:
# R squared Error
error_score_test= metrics.r2_score(Y_test,test_data_prediction_las)
print('R squared Error',error_score_test)

R squared Error 0.03486876395040728